body {
    background: linear-gradient(
        to right,
        black,
        darkblue,
        blue,
        purple,
        rgb(143, 139, 139)

    );
}


.container{
height: 100vh;
background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*{
margin: 0;
padding: 0;
}


.masthead {
min-height: 60vh;
position: relative;
background-size: cover;
 -webkit-background-size: cover;
  -moz-background-size: cover;
   -o-background-size: cover;
}

.masthead img {
min-height: 60vh;
position: relative;
background-size: cover;
 -webkit-background-size: cover;
  -moz-background-size: cover;
   -o-background-size: cover;
}

h1 {
    color: aliceblue;
    font-style: initial;
    font-family: Geneva, Verdana, sans-serif;
}

p {
    color: antiquewhite;
    font-size: medium;
    font-family: "Brush Script MT", cursive;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(210, 236, 227);
    stroke: black;
    stroke-opacity: inherit;
}

h3 {
    color: azure;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    min-width: 50vh;
    background-blend-mode: darken;  
        
}
